{% extends 'base.html.twig' %}

{% block title %}Recomendación{% endblock %}

{% block body %}
    <div class="container bg-light">
        <main>
            <div class="py-2">
                <h2>Importante</h2>
                <p class="lead">
                <ul class="list-group list-group-flush ">
                    <li class="list-group-item bg-light">Debe asegurarse que el archivo a enviar a través de este formulario
                        sea de un tamaño menor a 2MB y en formato PDF</li>
                    <li class="list-group-item bg-light">Al finalizar el envío de este formulario debe de visualizar una
                        pantalla de confirmación además de recibir un correo electrónico a su cuenta y a la cuenta de
                        correo de quien está recomendado, de no ser así favor de comunicarse al correo webmaster<i class="fas fa-at"></i>matmor.unam.mx
                        para asegurarse que se haya recibido su información.</li>
                    <li class="list-group-item bg-light ">Para enviar la información sobre la recomendación puede llenar
                        el campo <strong>Recomendación</strong> o bien utilizar el campo <strong>Carta de recomendación</strong> para enviar un archivo PDF.</li>
                </ul>
                </p>
            </div>
            {{ include('registro/_recom.html.twig', {'button_label': 'Enviar'}) }}
        </main>
        <footer class="my-2 pt-2 text-muted text-center text-small">
            <p class="mb-1">Centro de Ciencias Matemáticas</p>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="http://matmor.unam.mx/AvisoPrivacidad-CCM.pdf" target="_blank">Aviso de privacidad</a></li>
            </ul>
        </footer>
    </div>
{% endblock %}
